.footer {
  width: 100%;
  height: 50vh;
  background:
    radial-gradient(circle at top left, rgba(216, 180, 255, 0.6) 0%, transparent 40%),
    radial-gradient(circle at bottom right, rgba(216, 180, 255, 0.6) 0%, transparent 40%),
    white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  overflow: hidden;
}

.st-footer-section {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: flex-start;
}

.eazy {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.footer-text-container {
  display: flex;
  flex-direction: column;
  gap: 50px;

}

.eazy h2 {
  color: var(--second-text-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.social {
  color: var(--small);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.f-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.button2 {
  background: transparent;
  border: 2px solid var(--small);
  border-radius: 7px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 153px;
  height: 60px;

  color: black;
  font-size: 0.75rem;
  font-weight: 400;
}

.get {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.before {
  width: 32px;
  height: 32px;
}

.appka {
  color: #1A1919;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.footer-nav, nav a {
  text-decoration: none;
  color: var(--small);
}

.footer-nav {
  font-weight: 700;
  font-size: 1.5rem;
}


.company, .help, .product {
  display: flex;
  flex-direction: column;
  gap: 50px
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reserved {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 280px;

}

.copyright, .res {
  font-size: 0.875rem;
  font-weight: 400;

  color: var(--small);
  display: flex;
}

.terms {
  text-decoration: none;
  color: var(--small);
}

.res {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.socials-url img {
  width: 32px;
  height: 32px;
}

