header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: clip;

  padding: 10px 75px;

  margin: 0;

  width: 100%;
  height: 100px;
  background: #ffffff;

  z-index: 9999;
  top: 0;
  position: sticky;


}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  line-height: 1;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  line-height: 1;
}

.main-logo {
  color: var(--second-text-color);
  font-family: "Times New Roman", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 7px;
  line-height: 1;
}

.logo-item {
  color: var(--textcolor);
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  padding: 0;
}

.menu a {
  color: var(--second-text-color);
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 400;
}

.menu button {
  background: linear-gradient(16deg,rgba(185, 119, 255, 1) 38%, rgba(96, 38, 158, 1) 100%);
  background-size: 150% 150%;
  font-size: 1.25rem;
  color: white;
  font-weight: 400;

  width: 110px;
  height: 43px;
  border: none;
  outline: none;
  padding: 2px;

  cursor: default;

  animation: var(--gradient);
}

.header__burger {
  display: none;
}

.header__burger-element {
  height: 2px;
  width: 30px;
  border-radius: 12px;
  background: var(--second-text-color);
}


@media (max-width: 768px) {
  header {
    height: 50px;
    padding: 10px;
    transition: all .5s ease;
    animation: header-up 1ms both ease;
    animation-timeline: scroll(root);
    animation-range: 0 300px;
    align-items: center;
  }
  .main-logo {
    font-size: 1.5rem;
    padding-top: 5px;
  }
  .logo-item {
    display: none;
  }
  .menu {
    display: none;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
