.section4 {
  height: 100vh;
  width: 100%;

  background: var(--second-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;

  position: relative;
  overflow: hidden;
}

.download-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 10;
}

.download {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.download-to-get {
  margin: 0;
  padding: 0;

  font-size: 2.8125rem;
  font-weight: 900;

  color: white;
}

.join-category {
  margin: 0;
  padding: 0;

  font-size: 1.125rem;
  font-weight: 400;
  color: white;
}

.btns2 {
  display: flex;
  gap: 13px;
}

.button1 {
  background: white;
  border: none;
  border-radius: 7px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 153px;
  height: 60px;

  color: black;
  font-size: 0.75rem;
  font-weight: 400;
}

.get {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.before {
  width: 32px;
  height: 32px;
}

.appka {
  color: #1A1919;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.iphone-card {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  z-index: 10;
}

.iphone {
  height: 900px;
  width: 444px;
}

.mockup {
  position: absolute;
  top: 20px;
  left: 20px;
}

.section4-particles {
  position: absolute;
}

.big-particle {
  top: -32%;
  left: -7%;
  width: 600px;
  height: 600px;
}

.circle1-4 {
  top: 15%;
  right: 55%;
  width: 85px;
  height: 85px;
}

.circle2-4 {
  bottom: 5%;
  left: 5%;
  width: 67px;
  height: 67px;
}

.circle3-4 {
  bottom: 7%;
  right: 7%;
  width: 67px;
  height: 67px;
}

.circle4-4 {
  bottom: 37%;
  left: 35%;
  width: 47px;
  height: 47px;
}

.circle5-4 {
  top: 15%;
  right: 1%;
  width: 47px;
  height: 47px;
}

.circle-group {
  top: -10%;
  right: -15%;
  z-index: 3;
  width: 540px;
  height: 530px;
  animation: move-right 9s ease infinite;
}

.circle-group1 {
  bottom: -10%;
  left: -15%;
  width: 540px;
  height: 530px;
  animation: move-left 9s ease infinite;
}

