.section1 {
  width: 100% ;
  height: 1000px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background:
    radial-gradient(circle at top left, rgba(216, 180, 255, 0.6) 0%, transparent 40%),
      radial-gradient(circle at bottom right, rgba(216, 180, 255, 0.6) 0%, transparent 40%),
      white;

  position: relative;
  overflow: hidden;

}

.made-easy {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.made-easy h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 80px;

  margin: 0;

  position: relative;
  z-index: 5;
}

.easypay {
  background: linear-gradient(90deg,rgba(96, 38, 158, 1) 0%, rgba(3, 207, 252, 1) 35%, rgba(185, 119, 255, 1) 77%);
  background-clip: text;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: var(--gradient2);
}

.made-easy p {
  font-weight: 400;
  font-size: 18px;
  color: var(--small);

  margin: 0;

  position: relative;
  z-index: 5;
}

.btns {
  display: flex;
  gap: 20px;

  margin: 0;
}

.get-started-btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: white;

  width: 150px;
  height: 43px;
  padding: 2px;
  margin: 0;
  box-sizing: border-box;

  border: none;
  outline: none;
  background: linear-gradient(16deg,rgba(185, 119, 255, 1) 38%, rgba(96, 38, 158, 1) 100%);
  background-size: 150% 150%;
}

.get-started-btn:hover {
  animation: var(--gradient);
}

.join {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;

  width: 220px;
  height: 43px;
  padding: 2px;
  margin: 0;
  box-sizing: border-box;

  border: 1px solid transparent;
  outline: none;

  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, rgba(96, 38, 158, 1) 0%, rgba(3, 207, 252, 1) 35%, rgba(185, 119, 255, 1) 77%) border-box;

  cursor: default;
}

.join span {
  background: linear-gradient(90deg, rgba(96, 38, 158, 1) 0%, rgba(3, 207, 252, 1) 35%, rgba(185, 119, 255, 1) 77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.section1-image img {
  height: 603px;
  width: 719px;
}

.particle {
  position: absolute;
}

.circle1 {
  top: 12%;
  right: 34%;
  height: 35px;
  width: 35px;
}

.circle2 {
  bottom: 17%;
  right: 11%;
}

.circle3 {
  bottom: 24%;
  left: 5%;
  height: 30px;
  width: 30px;
}

.star {
  top: 17%;
  right: 12%;
}

.star2 {
  top: 25%;
  left: 34%;
}
