.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;

  width: 100%;
  height: 100vh;
  position: relative;

  z-index: 3;
  overflow: clip;
}
.phone-final {
  position: relative;
  height: auto;
  width: auto;
}
.screen {
  position: absolute;
  top: 2%;
  left: 5%;
  z-index: 1;
}

.frame {
  position: absolute;
  bottom: 20%;
  left: 70%;
  z-index: 2;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.send-cash {
  font-weight: 900;
  color: black;
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

.transfer {
  font-weight: 400;
  color: var(--small);
  margin-top: -20px;
  font-size: 1.125rem;
}

.send {
  font-weight: 500;
  color: white;
  margin: 0;
  font-size: 1.125rem;

  background: linear-gradient(143deg, #B977FF 0%, #60269E 100%);
  background-size: 150% 150%;

  border: none;
  outline: none;

  height: 43px;
  width: 200px;

  cursor: default;
}

@media (max-width: 768px){
  .section3 {
    flex-direction: column;
    gap: 20px;
    min-height: 80vh;
    height: auto;
  }
  .phone-final-wrap {
    padding: 40px 20px 0 20px;
  }
  .phone-final {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
  }
  .phone {
    height: auto;
    min-width: 150px;
    width: 70%;
  }
  .screen {
    top: 2.5%;
    left: 19%;
    height: auto;
    min-width: 130px;
    width: 62%;
  }
  .frame {
    height: auto;
    min-width: 100px;
    bottom: 25%;
    width: 50%;
  }
  .text-container {
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px 0 10px;
  }
  .send-cash {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: center;
  }
  .transfer {
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
}