.section5 {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
}

.for-business {
  display: flex;
  gap: 15px;
  flex-direction: column;

}

.boost {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;

}

.for {
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

.boost h2 {
  color: black;
  font-weight: 900;
  font-size: 2.8125rem;
  margin: 0;
  line-height: 55px;
}

h2 span {
  background: linear-gradient(90deg,rgba(96, 38, 158, 1) 0%, rgba(3, 207, 252, 1) 35%, rgba(185, 119, 255, 1) 77%);
  background-clip: text;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: var(--gradient2);
}

.down-text-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.join1   {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
  color: var(--small);

}

.get-it {
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  background: linear-gradient(16deg,rgba(185, 119, 255, 1) 38%, rgba(96, 38, 158, 1) 100%);
  background-size: 150% 150%;
  height: 43px;
  width: 110px ;

  animation: var(--gradient);
}

.section5-1 {
  display: flex;
  flex-direction: row;
  gap: 150px;
  align-items: center;
  border-bottom: solid 2px black;
  padding-bottom: 50px;
}

.section5-images {
  position: relative;
}

.clothes-image {
  height: 585px;
  width: 470px;
  position: relative;
  border-radius: 5px;
  z-index: 3;
}

.square {
  position: absolute;
  background: var(--second-text-color);
  border-radius: 5px;
  width: 245px;
  height: 425px;
  bottom: 180px;
  right: 245px;
}

.square2 {
  position: absolute;
  background: #EC8220;
  border-radius: 5px;
  width: 245px;
  height: 425px;
  top: 180px;
  left: 245px;

}

.parag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 1111px;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  color: black;
  word-wrap: break-word;
  margin-top: 50px;
}